<div class="repo p-2">
  <div class="repo-card repo-card--list js-github-recent-card" data-github-recent-user="{{ include.username }}">
    <div class="repo-card__header">
      <img class="repo-card__avatar repo-card__avatar--small" src="https://github.com/{{ include.username }}.png?size=80" alt="{{ include.username }}">
      <div class="repo-card__identity">
        <strong class="repo-card__title">Recent activity</strong>
        <span class="repo-card__subtitle">@{{ include.username }}</span>
      </div>
    </div>
    <p class="repo-card__description">Recently updated repositories.</p>
    <ul class="repo-card__list">
      <li class="repo-card__list-item repo-card__list-item--muted">Loading repositories...</li>
    </ul>
  </div>
</div>
